<body class="with-side-menu">
	{{> navbar }}
	<div class="mobile-menu-left-overlay-"></div>
	{{> nav }}
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Gestión de ubicaciones críticas</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="/home">Inicio</a></li>
								<li class="active">Hallazgos</li>
								<li class="active">Gestión de ubicaciones críticas</li>
							</ol>
						</div>
					</div>
				</div>
				<style>					
					.dataTables_filter {
							float: left;
					}
					.dt-buttons {
						float: right;
					}
					.no-seleccionable {
						cursor: not-allowed;
						pointer-events: none;
                    }
				</style>
			</header>
			<div class="box-typical box-typical-padding row">
                <section class="card box-typical col-md-5 m-l-3 m-r-3">
                    <div class="card-block">
                        <h3 class="b-b">Ubicaciones críticas</h3>
                        <br>
                        <table id="tabla_ubicacion" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Ubicación</th>
                                    <th class="text-center">Latitud</th>
                                    <th class="text-center">Longitud</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            <tbody>	
                                {{#each ubicacion}}
								<tr>
									<td class="text-center">{{Id}}</td>
									<td class="text-center">{{Ubicacion}}</td>
									<td class="text-center">{{Latitud}}</td>
									<td class="text-center">{{Longitud}}</td>
									<td class="text-center">
                                        <button class="btn btn-inline btn-warning btn-sm ladda-button editar_ubicacion" title="Editar"><i class="font-icon  font-icon-pencil"></i></button>
                                        <button class="btn btn-inline btn-danger btn-sm ladda-button eliminar_ubicacion" title="Eliminar"><i class="font-icon  font-icon-trash"></i></button>
                                    </td>	
								</tr>
							{{/each}}		
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="card box-typical col-md-5">
                    <div class="card-block">
                        <h3 class="b-b">Estados</h3>
                        <br>
                        <table id="tabla_estados" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            <tbody>	
                                {{#each estados}}
								<tr>
									<td class="text-center">{{Id}}</td>
									<td class="text-center">{{Estado}}</td>
									<td class="text-center">
                                        <button class="btn btn-inline btn-warning btn-sm ladda-button editar_estado" title="Editar"><i class="font-icon  font-icon-pencil"></i></button>
                                        <button class="btn btn-inline btn-danger btn-sm ladda-button eliminar_estado" title="Eliminar"><i class="font-icon  font-icon-trash"></i></button>
                                    </td>	
								</tr>
							{{/each}}		
                            </tbody>
                        </table>
                    </div>
                </section>
			</div>
		</div>
		{{> ubicacion_modal}}	
		{{> estados_modal}}
	</div> 
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/tether/tether.min.js"></script>
	<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/lib/datatables-net/datatables.min.js"></script>
	<script src="/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="/js/lib/summernote/summernote.min.js"></script>
	<script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/js/summernote-ES.js"></script>
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
	<script src="correas.js"></script>
	<script src="/sessions.js"></script>
</body>